:root{
    --twitter-color:#50b7f5;
    --twitter-background:#e6ecf0;
}


body{
    background: var(--background-color);
    color: var(--text-color);
    
}

.app{
    height: 100vh;
    display: flex; 
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    

}
:root {
    --blue: rgb(26, 57, 87);
    --white: rgb(236,236,236);
}

body.light{
    --background-color: var(--white);
    --text-color: var(--blue);
}

body.dark{
    --background-color: var(--blue);
    --text-color: var(--white);
}